<!-- NOTE: use {{site.url}} for canonical URLs -->
<meta charset="utf-8" />
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta
  name="viewport"
  content="width=device-width, initial-scale=1.0, maximum-scale=1.0"
/>

{% if page.excerpt %}
<meta name="description" content="{{ page.excerpt| strip_html }}" />
<meta property="og:description" content="{{ page.excerpt| strip_html }}" />
{% else %}
<meta name="description" content="Personal website and blog for Matt Vukas." />
<meta
  property="og:description"
  content="Personal website and blog for Matt Vukas."
/>
{% endif %}
<meta name="author" content="{{ site.name }}" />

<meta
  property="og:title"
  content="{% if page.title %}{{ page.title }}{% else %}{{ site.name }} – {{ site.description }}{% endif %}"
/>

<!-- Twitter meta tags -->
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@mattvukas" />
<meta
  name="twitter:title"
  content="{% if page.title %}{{ page.title }}{% else %}{{ site.name }} – {{ site.description }}{% endif %}"
/>

{% if page.title %} {% else %}
<!-- home page only tags: -->
<meta
  name="twitter:description"
  content="Personal website and blog for Matt Vukas."
/>
{% endif %}

<!-- image logic -->
{% if page.coverImage %}
<meta name="twitter:image" content="{{site.url}}{{page.coverImage}}" />
<meta property="og:image" content="{{site.url}}{{page.coverImage}}" />
{% else %}
<meta
  name="twitter:image"
  content="{{site.url}}/images/matt-vukas-pow-day.jpg"
/>
<meta
  property="og:image"
  content="{{site.url}}/images/matt-vukas-pow-day.jpg"
/>
{% endif %}
