---
layout: default
---

<article class="post">
  <h1>{{ page.title }}</h1>

  <div class="date">
    <time datetime="{{ page.date | date: "%Y-%m-%d" }}">Posted on {{ page.date | date: "%-m/%-d/%Y" }}</time>
  </div>

  <div class="entry">
    {{ content }}
  </div>

  <hr class="style-six">

  {% include disqus.html %}

  <table class="iteration">
    <tr>
      <td class="readOlder">
        {% if page.previous.url %}
          Older:
          <br><a href="{{page.previous.url}}" title="{{page.previous.title}}">{{page.previous.title}}</a>
        {% endif %}
      </td>
      <td class="readNewer">
        {% if page.next.url %}
          Newer:
          <br><a href="{{page.next.url}}" title="{{page.next.title}}">{{page.next.title}}</a>
        {% endif %}
      </td>
    </tr>
  </table>
</article>
<!-- TODO: add social sharing buttons here? but does anyone use those -->